<div class="heretheform">
<h3 class="petitionstyles">List of our Supporters from the beautiful city of {{city}}</h3>
{{#each signers}}
{{#if url}}
<h3 class="signerstyles"> -  <span id="signernames"><a href="{{url}}">{{first}} {{last}}</a></span> <a href="/signers/{{city}}">{{city}}</a> {{age}} <span id="signedtext">signed the petition, THANK YOU!</span></h3>

{{else}}
<h3 class="signerstyles"> -  <span id="signernames">{{first}} {{last}}</span> <a href="/signers/{{city}}">{{city}}</a> {{age}} {{url}} <span id="signedtext">signed the petition, THANK YOU!</span></h3>
{{/if}}
{{/each}}

<a id="nounderline" href="/thanks"><h4 class="petitionstyles">CLICK HERE to go back to your signature page!</h4></a>

</div>