<div class="signers-block">
<p>Thanks for your signature! I promise I won't get a mortgage, or open a line of credit with it.</p>
{{!-- Loop through the array of names and surnames --}}

{{#each signers}}
{{#if url}}
<h3> -  <span id="signernames"><a href="{{url}}">{{first}} {{last}}</a></span> <a href="/signers/{{city}}">{{city}}</a> {{age}} <span id="signedtext">signed the petition, THANK YOU!</span></h3>
</div>
{{else}}
<h3> -  <span id="signernames">{{first}} {{last}}</span> <a href="/signers/{{city}}">{{city}}</a> {{age}} {{url}} <span id="signedtext">signed the petition, THANK YOU!</span></h3>
{{/if}}
{{/each}}
